<%- include('partials/header') %> 
<section id="hero">
<div class="row">
  <div class="col-lg-6 col-md-3 col-sm-2">
    <h1>Let's make dating <br> more fun less spam!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus mollitia suscipit exercitationem nam delectus distinctio necessitatibus fuga hic, error nulla?</p>
    <a href="/users/register" class="btn btn1">Create an Account</a>
  </div>
  <div class="col-lg-6 col-md-3 col-sm-2">
   <img src="/Couple.svg" alt="couple">
   <img src="/hnds-01.png" class="img2" alt="">
  </div>
</div>
</section>
<section id="why">
  <div class="d-flex">
  <h2>Why MBA</h2>
  <span></span>
</div>
<div class="content">
<p></p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque rerum aspernatur ullam natus maxime ipsum at fuga recusandae aperiam eaque alias enim, similique tenetur commodi suscipit esse officia quibusdam et doloremque velit! Tempora eos quo ipsa reprehenderit at, magnam quisquam, animi tenetur, dolor a accusamus ab quae esse enim ratione temporibus. Deserunt temporibus veritatis minus aut vitae consectetur numquam excepturi amet? Aperiam cum minima ipsum impedit nobis ratione sequi ex nostrum voluptatibus, praesentium nesciunt blanditiis id. Accusantium tempore quam omnis.</p>
<p>Lorem ipsum, dolor sit amet consectetur <em style="text-decoration: underline;"> adipisicing elit.</em> Perspiciatis, placeat? Rem saepe consectetur aperiam tenetur dignissimos corporis iure, magnam quod, magni accusantium fugiat vero? Saepe nostrum quaerat ratione temporibus vel.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse consequuntur soluta magni expedita eos deserunt, <em style="text-decoration: underline;"> earum libero sit corrupti quam molestias </em> ducimus placeat in doloribus dicta beatae, sapiente natus aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam possimus corrupti at omnis quo, deserunt, vero unde beatae odio reprehenderit cumque eum ducimus facere iusto esse libero, impedit qui dolore?</p>
</div>
<div class="content-2">
  <div class="row">
    <div class="col-sm-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Testimonial One</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Testimonial Two</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Testimonial Three</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    
  </div>
</div>

</section>

<section id="contact">
  <div class="d-flex">
    <h2>Contact Us</h2>
    <span></span>
  </div>
  <div class="content">

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Name" >
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput2" placeholder="Email" >
        <label for="floatingInput2">Email</label>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px" ></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
      <div class="form-floating">
      <button class="btn btn1">Submit</button>
      </div>  
  </div>
</section>

<footer>
  <p>Copyright © MBA-Dating | Marrying Black America</p>
</footer>













<!-- 
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Authentication by Shreyansh. Pls Register Yourself</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div> -->