<div class="row welcome position-absolute top-50 start-50 translate-middle">
  
    <img src="img2-01.png" class="col-lg-6 col-md-3 col-sm-2 welcome-img" alt="dating img">
  
  <div class="col-lg-6 col-md-3 col-sm-2">
    <div class="welcome-content position-relative top-50 start-50 translate-middle">
      <h2>Welcome to MBA</h2>
      <p>Let's make dating fun not spam!</p>
    <a href="/users/register" class="btn btn-register">Register</a><br>
    <a href="/users/login" class="btn btn-login">Login   </a>
    </div>
  </div>
</div>


















<!-- 
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Authentication by Shreyansh. Pls Register Yourself</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div> -->