*{
    font-family: 'Satoshi', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}


/* Layout */

.navbar{
    background-color: white;
    padding: 10px 100px;
    font-weight: 500;
    border-bottom: 2px solid black;
}
.nav-item{
    margin: 0 20px;
}
.navbar .fa-bars{
    border: 0;
    outline: none;
    box-shadow: none;
    color: black;
}
.btn1{
    background-color: #FF565E;
    border: 2px solid black;
    color: black;
    padding: 10px 50px;
    transition:  0.2s ease-in-out;
}
.btn1:hover{
    color: white;
    box-shadow: 6px 6px 0px -1px black;
    background-color: #e73e46;
    transform: translateY(-4px);
    border: 2px solid black;
    
}


.container0{
    height: 0px;
}

/* Hero Page ================================================ */


#hero{
    background-color: #B7DFE6;
    padding: 50px 100px;
    background-image: url("/wer-01.png");
        overflow: hidden;
}
#hero .row{
    margin: 0;
    height: 600px;
    
}
#hero h1{
    font-size: 68px;
    font-weight: 700;
    margin-top: 100px;
    line-height: 65px;
    margin-bottom: 20px;
}
#hero p{
    font-size: 32px;
    line-height: 34px;
    font-weight: 300;
    margin-bottom: 40px;
}
#hero img{
    height: 550px;
    margin-left: 50px;
    transition:  0.2s ease-in-out;
}
#hero .img2{
    visibility: hidden;
}
#hero img:hover{
    scale: 1.1;
    transform: rotate(5deg);
}

/* Why MBA======================================= */

#why{
    background-color: white;
    padding: 50px 100px;
}
#why span{
    width: 100px;
    height: 4px;
    background-color: #FF565E;
    align-self: center;
}
#why h2{
    font-weight: 700;
    margin-bottom: 0;
    margin-right: 8px;
}
#why p{
    font-size: 24px;
    font-weight: 400;

}
#why .content{
    margin-top: 50px;
}
#why .content-2{
    margin-top: 80px;
    margin-bottom: 60px;
}
#why .card{
    border: 2px solid black;
    transition:  0.2s ease-in-out;
    background-color: #B7DFE6;
}
#why .card:hover{
    box-shadow: 8px 8px 0px -1px black;
    transform: translateY(-4px);

}
#why .card-title{
    font-weight: 700;
}


/* Contact=======================================================0 */

#contact{
    background-color: #B7DFE6;
    padding: 50px 100px;
}
#contact span{
    width: 100px;
    height: 4px;
    background-color: #FF565E;
    align-self: center;
}
#contact h2{
    font-weight: 700;
    margin-bottom: 0;
    margin-right: 8px;
}
#contact .content{
    margin-top: 40px;
}

#contact input{
    /* padding: 20px 100px 10px 20px; */
    border: 2px solid black;
    margin-right: 20px;
    border-radius: 8px;
    transition:  0.2s ease-in-out;
    background-color: #B7DFE6;
    outline: none;
    font-weight: 500;
}

#contact input:hover{
    box-shadow: 8px 8px 0px -1px black;
    transform: translateY(-4px);
}
#contact textarea{
    /* padding: 20px 100px 10px 20px; */
    border: 2px solid black;
    margin-right: 20px;
    border-radius: 8px;
    margin-top: 20px;
    outline: none;
    transition:  0.2s ease-in-out;
    background-color: #B7DFE6;
    font-weight: 500;
}
#contact textarea:hover{
    box-shadow: 8px 8px 0px -1px black;
    transform: translateY(-4px);
}

/* Footer */

footer{
    background-color: white;
    width: 100%;
    height: 50px;
    color: black;
    text-align: center;
    padding: 15px 0;
    font-weight: 700;
}



 /*====================================== Responsive Layout */


 @media only screen and (max-width: 600px) {
    .navbar{
        padding: 10px 30px;
    }
    .navbar .offcanvas-body{
        text-align: left;
        padding: 30px;
    }
    #hero{
        padding: 15px 30px;
        text-align: center;
        background-image: url("/wer-01.png");
        overflow: hidden;
    }
    #hero .row{
        margin: 0;
        height: 600px;
        
    }
    #hero h1{
        font-size: 42px;
        font-weight: 700;
        margin-top: 100px;
        line-height: 45px;
        margin-bottom: 20px;
    }
    #hero p{
        font-size:22px;
        line-height: 34px;
        font-weight: 300;
        margin-bottom: 40px;
    }
    #hero img{
        visibility: hidden;
    }
    #hero .img2{
        visibility: visible;
        height: 150px;
        width: auto;
        margin: 0;
        position: relative;
        top: 550px;
    }
    #hero .img2:hover{
        transform: rotate(0deg);
        scale: 1;
    }

    #why{
        padding: 50px 38px;
    }
    #why p{
        font-size: 18px;
    }
    #why .card{
        /* margin-bottom: 20px; */
    }
    #contact{
        padding: 50px 38px;
    }
    

  }


  @media (min-width: 768px) and (max-width: 990px){
    .navbar{
        /* padding: 15px 30px; */
    }
    #hero{
        /* padding: 15px 30px; */
    }
    #hero h1{
        font-size: 42px;
        font-weight: 700;
        margin-top: 120px;
        line-height: 38px;
        margin-bottom: 20px;
    }
    #hero p{
        font-size: 20px;
    }
    #hero .col-md-3{
        width: 50%;
    }
    #hero img{
        margin-left: 0;
        margin-top: 30px;
    }
  }